<section>

<div id="header-gray-bar">

	<div>
		<ul class="nav nav-pills">
			<li class="active"><a href="#">Contado</a></li>
			<li><a href="#">Site EatonBR</a></li>
		</ul>	
	</div>

	<!-- <div id="headerLinks">
		<span class="sigin_left"></span>
		<span class="SignIn">
			<a target="" href="/EatonBR/OurCompany/AboutUs/ContactUs/index.htm">
				<span id="result_box" lang="pt" class="short_text">
					<span class="hps" title="Click for alternate translations">Contato</span>
				</span>
			</a>
		</span>
		<span class="sigin_right"></span>
	</div> -->

<!-- 	<div id="worldwide">
		<span class="worldwide_left"></span>
		<span class="WorldwideSite">
			<span class="worldMap"></span> 
			<a target="" href="http://www.eaton.com.br/EatonBR/index.htm">
				<span id="result_box" lang="pt" class="short_text">
					<span class="hps" title="Site EatonBR">Site EatonBR</span>
				</span>
			</a>
		</span>
		<span class="worldwide_right"></span>
	</div>	 -->
</div>
</section>
