<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <h1>Linha ELCM - Disjuntores em caixa moldada</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="img/Banner_Linha-ELCM.jpg" alt="Banner Linha ELCM" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray">
		<div class="row">
            <div class="col-xs-8">
               <ul>
                    <li>
						A linha de disjuntores em caixa moldada ELCM é um novo produto
						desenvolvido com base em normas internacionais, tecnologia avançada
						e novo design. Com tensão nominal isolação 800V e a tensão nominal
						de trabalho até 690V, é adequado para proteção de circuitos com as
						mais variadas aplicações em frequência de 50/60Hz;
					</li>
                    <li>
						Os disjuntores possuem proteção contra sobrecarga, curto-circuito,
						função de isolamento, o que pode proteger e evitar danos a instalações
						e dispositivos elétricos;
					</li>
                    <li>
						Podem ser divididos nos tipos B e C de acordo com sua capacidade
						máxima de interrupção em curto-circuito;
					</li>
                    <li>
						Vantajoso por ser compacto, adequada capacidade de interrupção;
					</li>
					<li>
						Os disjuntores Eletromec tem função de isolamento;
					</li>
					<li>
						O produto está em conformidade com a norma IEC60947-2.
					</li>
               </ul>
            </div>
        </div>
	</div>
</section>

<section>
    <div class="container bg-gray-dark section-header">
        <div class="row">
            <div class="col-xs-12">
                <span>Chave de código</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <span>FALTA A IMAGEM</span>
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-white">
		<div class="row">
			<div class="col-xs-12">
				<h1>Condições normais de instalação:</h1>
				<ul>
					<li>Altura acima do nível do mar: ≤ 2000m;</li>
					<li>Temperatura ambiente médio: ≤ 40°C ≥ -5°C;</li>
					<li>Grau de proteção IP 40;</li>
					<li>Grau de poluição 3.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section>
    <div class="container bg-gray-dark section-header">
        <div class="row">
            <div class="col-xs-12">
                <span>Codificação</span>
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray-light">
		<div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
							<th class="empty-column" rowspan="2"></th>
                            <th rowspan="2">Corrente Nominal In</th>
                            <th colspan="3">Capacidade de interrupção</th>
                            <th rowspan="2">Número de pólos</th>
                            <th rowspan="2">Código</th>
                        </tr>
						<tr>
							<th>240V</th>
							<th>415-440V</th>
							<th>690V</th>
						</tr>
                    </thead>
                    <tbody>
                        <tr>
							<td rowspan="3" class="img-column">
								<img src="img/Fusíveis Cartucho/Base-Cartucho.png" alt="Base Cartucho" height="100px" />
							</td>
                            <td>16A</td>
                            <td>50kA</td>
                            <td>20kA</td>
                            <td>-</td>
							<td>3</td>
                            <td class="highlight-column">ELCM1-B316</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</div>
</section>
