<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Fusível Cartucho</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="img/Banner_Fusível-Cartucho.jpg" alt="Banner Fusível Cartucho" width="100%"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
               <ul>
                    <li>Projetados para a utilização em equipamentos com pouco espaço físico.</li>
                    <li>Tensão 500.</li>
                    <li>Correntes de 2 a 100A.</li>
                    <li>Tamanhos: 10x38mm / 14x51mm / 22x58mm.</li>
                    <li>
                        Ação: gL/gG - uso geral <br/>
                        - aR - ultrarrápido <br/>
                        - aM - motores
                    </li>
               </ul>
            </div>
        </div>
    </div>
</section>

<!-- Tabela 1 - Base Cartucho -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Base Cartucho</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <img src="img/Fusíveis Cartucho/Base-Cartucho.png" alt="Base Cartucho" width="20%"/>
            </div>
            <div class="col-xs-9">
                <table>                    
                    <thead>
                        <tr>
                            <th>Tamanho</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Quantidade por embalagem</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>32</td>
                            <td>6</td>
                            <td>BUC1038C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>63</td>
                            <td>6</td>
                            <td>BUC1451C </td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>125</td>
                            <td>3</td>
                            <td>BUC2258C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Tabela 2 - Fusível Cartucho - Tipo gL/gG -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Fusível Cartucho - Tipo gL/gG</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table>                    
                    <thead>
                        <tr>
                            <th></th>
                            <th>Dimensão diam. x comp. (mm)</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Capacidade de Interrupção (kA)</th>
                            <th>Quantidade por embalagem</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="10"><img src="img/Fusíveis Cartucho/GL-10x38.png" alt="Fusível Cartucho" height="15%" width="20%"/></td>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>2</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50002C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>4</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50004C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>5</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50006C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>8</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50008C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>10</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50010C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>12</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50012C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>16</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50016C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>20</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50020C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>25</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50025C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>32</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038GL50032C</td>
                        </tr>
                        <tr>
                            <td rowspan="12"><img src="img/Fusíveis Cartucho/GL-14x51.png" alt="Fusível Cartucho" height="15%" width="20%"/></td>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>2</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50002C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>4</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50004C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>6</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50006C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>8</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50008C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>10</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50010C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>12</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50012C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>16</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50016C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>20</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50020C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>25</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50025C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>32</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50032C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>40</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50040C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>50</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451GL50050C</td>
                        </tr>
                        <tr>
                            <td rowspan="15"><img src="img/Fusíveis Cartucho/GL-22x58.png" alt="Fusível Cartucho" height="15%" width="20%"/></td>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>2</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50002C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>4</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50004C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>6</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50006C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>8</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50008C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>10</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50010C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>12</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50012C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>16</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50016C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>20</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50020C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>25</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50025C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>32</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50032C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>40</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50040C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>50</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50050C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>63</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50063C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>80</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL50080C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>100</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258GL500100C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>

<!-- Tabela 3 - Fusível Cartucho - Tipo aR -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Fusível Cartucho - Tipo aR</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table>                    
                    <thead>
                        <tr>
                            <th></th>
                            <th>Dimensão diam. x comp. (mm)</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Capacidade de Interrupção (kA)</th>
                            <th>Quantidade por embalagem</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="10"><img src="img/Fusíveis Cartucho/AR-10x38.png" alt="Fusível Cartucho" height="15%" width="20%"/></td>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>2</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50002C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>4</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50004C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>5</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50006C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>8</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50008C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>10</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50010C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>12</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50012C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>16</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50016C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>20</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50020C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>25</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50025C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>32</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AR50032C</td>
                        </tr>
                        <tr>
                            <td rowspan="12"><img src="img/Fusíveis Cartucho/AR-14x51.png" alt="Fusível Cartucho" height="15%" width="20%"/></td>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>2</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50002C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>4</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50004C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>6</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50006C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>8</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50008C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>10</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50010C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>12</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50012C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>16</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50016C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>20</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50020C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>25</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50025C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>32</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50032C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>40</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50040C</td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>50</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AR50050C</td>
                        </tr>
                        <tr>
                            <td rowspan="15"><img src="img/Fusíveis Cartucho/AR-22x58.png" alt="Fusível Cartucho" height="15%" width="20%"/></td>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>2</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50002C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>4</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50004C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>6</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50006C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>8</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50008C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>10</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50010C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>12</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50012C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>16</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50016C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>20</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50020C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>25</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50025C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>32</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50032C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>40</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50040C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>50</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50050C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>63</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50063C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>80</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR50080C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>100</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AR500100C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>

<!-- Tabela 4 - Fusível Cartucho - Tipo aM -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Fusível Cartucho - Tipo aM</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table>                    
                    <thead>
                        <tr>
                            <th></th>
                            <th>Dimensão diam. x comp. (mm)</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Capacidade de Interrupção (kA)</th>
                            <th>Quantidade por embalagem</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="9"><img src="img/Fusíveis Cartucho/AM-10x38.png" alt="Fusível Cartucho" height="15%" width="20%"/></td>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>2</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AM50002C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>4</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AM50004C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>5</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AM50006C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>8</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AM50008C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>10</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AM50010C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>12</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AM50012C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>16</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AM50016C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>20</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AM50020C</td>
                        </tr>
                        <tr>
                            <td>10 x 38</td>
                            <td>500</td>
                            <td>25</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1038AM50025C</td>
                        </tr>
                        <tr>
                            <td rowspan="12"><img src="img/Fusíveis Cartucho/AM-14x51.png" alt="Fusível Cartucho" height="15%" width="20%"/></td>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>2</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50002C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>4</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50004C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>6</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50006C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>8</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50008C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>10</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50010C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>12</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50012C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>16</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50016C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>20</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50020C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>25</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50025C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>32</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50032C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>40</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50040C </td>
                        </tr>
                        <tr>
                            <td>14 x 51</td>
                            <td>500</td>
                            <td>50</td>
                            <td>80</td>
                            <td>10</td>
                            <td>C1451AM50050C </td>
                        </tr>
                        <tr>
                            <td rowspan="15"><img src="img/Fusíveis Cartucho/AM-22x58.png" alt="Fusível Cartucho" height="15%" width="20%"/></td>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>2</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50002C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>4</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50004C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>6</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50006C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>8</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50008C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>10</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50010C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>12</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50012C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>16</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50016C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>20</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50020C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>25</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50025C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>32</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50032C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>40</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50040C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>50</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50050C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>63</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50063C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>80</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM50080C</td>
                        </tr>
                        <tr>
                            <td>22 x 58</td>
                            <td>500</td>
                            <td>100</td>
                            <td>80</td>
                            <td>5</td>
                            <td>C2258AM500100C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>


