<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <h1>Fusíveis NH</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="img/Banner-Fusíveis-NH.jpg" alt="Banner Fusíveis NH" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray">
        <div class="row">
            <div class="col-xs-8">
               <ul>
                    <li>Tensão 500ac;</li>
                    <li>Correntes de 2 a 2000A;</li>
                    <li>Fabricados conforme IEC 60269;</li>
                    <li>Ações: gG/gL - para uso gera e aR - ultrarrápido;</li>
                    <li>Acessórios Eletromec para toda a linha NH <br>
                    (chaves seccionadoras, bases, link neutro, saca-fusível <br>
                    e indicador de operação - Microswitch)</li>
               </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-dark section-header">
        <div class="row">
            <div class="col-xs-12">
                <span>Base NH Monopolar</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-light">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="empty-column"></th>
                            <th>Tamanho</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Quantidade <br> por embalagem</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="7" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/Base-Monopolar.png" alt="Base Monopolar" height="150px" />
                            </td>
                            <td>00</td>
                            <td>500</td>
                            <td>160</td>
                            <td>3</td>
                            <td class="highlight-column">BUNH00C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>250</td>
                            <td>1</td>
                            <td class="highlight-column">BUNH1C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>400</td>
                            <td>1</td>
                            <td class="highlight-column">BUNH2C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>630</td>
                            <td>1</td>
                            <td class="highlight-column">BUNH3C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>1250</td>
                            <td>1</td>
                            <td class="highlight-column">BUNH4C</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>500</td>
                            <td>1600</td>
                            <td>1</td>
                            <td class="highlight-column">BUNH5-1600C</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>500</td>
                            <td>2000</td>
                            <td>1</td>
                            <td class="highlight-column">BUNH5-2000C</td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-dark section-header">
        <div class="row">
            <div class="col-xs-12">
                <span>Fusível NH gL/gG</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-light">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="empty-column"></th>              
                            <th>Tamanho</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Capacidade de <br> Interrupção (kA)</th>
                            <th>Quantidade <br> por embalagem</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="12" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---000GL.png" alt="NH 000GL" height="200px" />
                            </td>
                            <td>000</td>
                            <td>500</td>
                            <td>2</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL002C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>4</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL004C</td>
                        </tr>
                       <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>6</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL006C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>10</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL010C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>16</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL016C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>20</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL020C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>25</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL025C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>32</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL032C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>36</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL036C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>40</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL040C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>50</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL050C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>63</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL063C</td>
                        </tr>
                        <tr>
                             <td rowspan="11" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---1GL.png" alt="NH 1GL" height="200px" />
                            <td>000</td>
                            <td>500</td>
                            <td>80</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL080C</td>
                        </tr>
                        <tr>
                            <td>000</td>
                            <td>500</td>
                            <td>100</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH000GL100C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>125</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00GL125C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>160</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00GL160C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>10</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL010C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>16</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL016C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>20</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL020C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>25</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL025C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>32</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL032C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>36</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL036C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>40</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL040C</td>
                        </tr>
                        <tr>
                            <td rowspan="13" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---2GL.png" alt="NH 2GL" height="200px" />
                            <td>1</td>
                            <td>500</td>
                            <td>50</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL050C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>63</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL063C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>80</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL080C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>100</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL100C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>125</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL125C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>160</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL160C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>200</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL200C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>224</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL224C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>250</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL250C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>36</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL036C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>40</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL040C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>50</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL050C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>63</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL063C</td>
                        </tr>
                        <tr>
                            <td rowspan="12" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---3GL.png" alt="NH 3GL" height="200px" />
                            <td>2</td>
                            <td>500</td>
                            <td>63</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL063C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>80</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL080C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>100</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL100C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>125</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL125C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>160</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL160C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>200</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL200C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>224</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL224C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>250</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL250C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>315</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL315C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>355</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL355C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>400</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2GL400C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>315</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3GL315C</td>
                        </tr>
                        <tr>
                            <td rowspan="14" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---4GL.png" alt="NH 4GL" height="200px" />
                            <td>3</td>
                            <td>500</td>
                            <td>355</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3GL355C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>400</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3GL400C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>500</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3GL500C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>630</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3GL630C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>700</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4GL700C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>800</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4GL800C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>900</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4GL900C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>1000</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4GL1000C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>1200</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4GL1200C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>1250</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4GL1250C</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>500</td>
                            <td>1400</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH5GL1400C</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>500</td>
                            <td>1600</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH5GL1600C</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>500</td>
                            <td>1800</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH5GL1800C</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>500</td>
                            <td>2000</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH5GL2000C</td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-dark section-header">
        <div class="row">
            <div class="col-xs-12">
                <span>Fusível NH aR</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-light">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="empty-column"></th>              
                            <th>Tamanho</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Capacidade de <br> Interrupção (kA)</th>
                            <th>Quantidade <br> por embalagem</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="9" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---00AR.png" alt="NH 00AR" height="150px" />
                            </td>
                            <td>00</td>
                            <td>500</td>
                            <td>2</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR002C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>4</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR004C</td>
                        </tr>
                       <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>6</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR006C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>10</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR010C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>16</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR016C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>20</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR020C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>25</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR025C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>32</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR032C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>36</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR036C</td>
                        </tr>
                        <tr>
                            <td rowspan="10" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---1AR.png" alt="NH 1AR" height="200px" />
                            </td>
                            <td>00</td>
                            <td>500</td>
                            <td>40</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR040C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>50</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR050C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>63</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR063C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>80</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR080C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>100</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR100C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>125</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR125C</td>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>500</td>
                            <td>160</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH00AR160C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>10</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR010C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>16</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL016C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>20</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR020C</td>
                        </tr>
                        <tr>
                            <td rowspan="11" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---2AR.png" alt="NH 2AR" height="200px" />
                            </td>
                            <td>1</td>
                            <td>500</td>
                            <td>25</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR025C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>32</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR032C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>36</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR036C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>40</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR040C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>50</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR050C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>63</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR063C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>80</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR080C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>100</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR100C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>125</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1GL125C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>160</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR160C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>200</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR200C</td>
                        </tr>
                        <tr>
                            <td rowspan="13" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---3AR.png" alt="NH 3AR" height="200px" />
                            </td>
                            <td>1</td>
                            <td>500</td>
                            <td>224</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR224C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>250</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH1AR250C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>36</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR036C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>40</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR040C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>50</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR050C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>63</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR063C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>80</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR80C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>100</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR100C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>125</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR125C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>160</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR160C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>200</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR200C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>224</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR224C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>250</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR250C</td>
                        </tr>
                        <tr>
                             <td rowspan="13" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/NH---4AR.png" alt="NH 4AR" height="200px" />
                            </td>
                            <td>2</td>
                            <td>500</td>
                            <td>315</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR315C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>355</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR355C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>400</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH2AR400C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>315</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3AR315C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>355</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3AR355C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>400</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3AR400C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>500</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3AR500C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>630</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH3AR630C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>700</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4AR700C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>800</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4AR800C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>900</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4AR900C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>1000</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4AR1000C</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>500</td>
                            <td>1200</td>
                            <td>120</td>
                            <td>3</td>
                            <td class="highlight-column">NH4AR1250C</td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
                <img src="img/Pg Linha Fusíveis NH/Chave-Seccionadora.png" alt="Chave Seccionadora" width="90%">
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-dark section-header">
        <div class="row">
            <div class="col-xs-12">
                <span>Chave Seccionadora NH Tripolar Horizontal</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-light">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="empty-column"></th>
                            <th>Tamanho</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Quantidade <br> por embalagem</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4" class="img-column" width="20%">
                            </td>
                            <td>00</td>
                            <td>500</td>
                            <td>160</td>
                            <td>3</td>
                            <td class="highlight-column">TSL00C</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>250</td>
                            <td>1</td>
                            <td class="highlight-column">TSL1C</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>400</td>
                            <td>1</td>
                            <td class="highlight-column">TSL2C</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>630</td>
                            <td>1</td>
                            <td class="highlight-column">TSL3C</td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-dark section-header">
        <div class="row">
            <div class="col-xs-12">
                <span>Link Neutro</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-light">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="empty-column"></th>
                            <th>Tamanho</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Quantidade <br> por embalagem</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4" class="img-column" width="20%">
                                <img src="img/Pg Linha Fusíveis NH/Link-Neutro.png" alt="Link Neutro" width="100%">
                            </td>
                            <td>00</td>
                            <td>500</td>
                            <td>160</td>
                            <td>10</td>
                            <td class="highlight-column">BS00BSC</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>500</td>
                            <td>250</td>
                            <td>12</td>
                            <td class="highlight-column">BS1BSC</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>500</td>
                            <td>400</td>
                            <td>6</td>
                            <td class="highlight-column">BS2BSC</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>500</td>
                            <td>630</td>
                            <td>6</td>
                            <td class="highlight-column">BS3BSC</td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-dark section-header">
        <div class="row">
            <div class="col-xs-12">
                <span>Acessórios</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-gray-light">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="empty-column"></th>
                            <th>Descrição</th>
                            <th>Contatos</th>
                            <th>Tensão (V)</th>
                            <th>Corrente (A)</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2" class="img-column" width="20%">
                            </td>
                            <td style="text-align: left">Microswitch - indicador de operação</td>
                            <td>1 NAF</td>
                            <td>230</td>
                            <td>5</td>
                            <td class="highlight-column">MSC</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: left">Saca-fusível</td>
                            <td class="highlight-column">FHEC</td>
                        </tr>
                    </tbody>
                </table>       
            </div>
        </div>
    </div>
</section>

<section style="margin: 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-right">
                <a class="btn-primary" href="#">Baixar em PDF</a>
            </div>
        </div>
    </div>
</section>
